html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --text-color: #000000;
  --text-color-white: #ffffff;
  --text-color-blue: #054edb;
  --text-color-gray: #8b96b1;
  --text-color-second-black: #171717;
}
.text-h1-20px-700-montserrat {
  font: 700 2rem/150% "Montserrat";
  color: var(--text-color);
}

.text-p-20px-500-montserrat {
  font: 500 2rem/2.4rem "Montserrat";
  color: var(--text-color);
}
.text-p-20px-500-montserrat-white {
  font: 500 2rem/2.4rem "Montserrat";
  color: var(--text-color-white);
}
.text-p-14px-500-montserrat-white {
  font: 500 1.4rem/150% "Montserrat";
  color: var(--text-color-white);
}
.text-p-18px-500-montserrat-sesondblack {
  font: 500 1.8rem/2.2rem "Montserrat";
  color: var(--text-color-second-black);
}

.text-h1-30px-575-montserrat {
  font: 575 3rem/3.7rem "Montserrat";
  color: var(--text-color);
  text-transform: lowercase;
}
.text-h1-30px-575-montserrat-white {
  font: 575 3rem/3.7rem "Montserrat";
  text-transform: lowercase;
  color: var(--text-color-white);
}
.text-p-13px-400-montserrat {
  font: 400 1.3rem/150% "Montserrat";
  color: var(--text-color);
}
.text-p-13px-400-montserrat-blue {
  font: 400 1.3rem/150% "Montserrat";
  color: var(--text-color-blue);
}
.text-p-13px-400-montserrat-gray {
  font: 400 1.3rem/150% "Montserrat";
  color: var(--text-color-gray);
}
.container {
  max-width: 192rem;
  position: relative;
}
.nav {
  display: flex;
  width: 660px;
  justify-content: space-between;
  align-items: center;
  margin-left: 122.8rem;
  margin-top: 2.4rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 20.4rem;
}
a {
  text-decoration: none;
}

/* Main */
.main__container {
  background-image: url(./images/image\ 2.png);
  width: 185.6rem;
  height: 87.3rem;
  border-radius: 2.4rem;
  margin: 1.6rem 0 0 3.2rem;
}

.main__authorization {
  width: 36.3rem;
  height: 33.4rem;
  background: #ffffff;
  border-radius: 16px;
  position: absolute;
  left: 129.3rem;
  top: 34.7rem;
}
.main__authorization-block {
  margin: 2.4rem 0 0 2.4rem;
}
.main__authorization-text {
  margin-top: 1rem;
}
input {
  width: 31.6rem;
  height: 4.4rem;
  background: #ffffff;
  border: 1px solid #cddaf1;
  border-radius: 1.6rem;
}

.input-email {
  margin-top: 3.2rem;
}
.input-password {
  margin-top: 1rem;
  position: relative;
}
.fa-regular {
  color: var(--text-color-gray);
  position: absolute;
  right: 4rem;
  top: 19.4rem;
}
.main__authorization-input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 175%;
  display: flex;
  align-items: center;
  color: var(--text-color-gray);
  padding-left: 1.6rem;
}
.main__authorization-button {
  width: 31.5rem;
  height: 4.4rem;
  background: #171717;
  border-radius: 1.6rem;
  margin-top: 1rem;
}
.main__authorization-text-last {
  margin: 1.6rem 0 0 10.1rem;
}
.main__left {
  position: absolute;
  margin: 6.4rem 0 0 6.4rem;
}

/* Section */
.section__container {
  max-width: 185.6rem;
  margin-left: 3.2rem;
  margin-top: 2.4rem;
  background-color: var(--text-color-white);
}
.categories-block {
  display: flex;
  justify-content: space-between;
}
.categories-block__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99.4rem;
}

.categories-block__input {
  border: 1px solid #d4e3ff;
  margin: 1.5rem 0 0 1.6rem;
}
.categories-block__icons {
  display: flex;
  justify-content: flex-end;
  width: 32rem;
  align-items: center;
  
}
.first {
    margin-left: 20rem;
}
.categories-block__icons img{
    margin-right: 4rem;
}

.categories-block__first-part,
.categories-block__second-part {
  display: flex;
  justify-content: space-between;
}
.categories-block__text-item{
    margin-left: 2.4rem;
}