/* Main */
.error{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 125%;
display: flex;
align-items: flex-end;
text-align: center;
color: #DD2C28;
margin-left: 40px;
margin-top: 10px;

}
.main__container {
  background-image: url(../images/image\ 2.png);
  max-width: 185.6rem;
  height: 87.3rem;
  border-radius: 2.4rem;
  margin: 1.6rem 0 0 3.2rem;
  position: relative;
}

.main__authorization {
  width: 36.3rem;
  height: 33.4rem;
  background: #ffffff;
  border-radius: 16px;
  position: absolute;
  left: 69%;
  top: 18%;
}
.main__authorization-block {
  margin: 2.4rem 0 0 2.4rem;
}
.main__authorization-text {
  margin-top: 1rem;
}
.main__authorization-input {
  width: 31.6rem;
  height: 4.4rem;
  background: #ffffff;
  border: 1px solid #cddaf1;
  border-radius: 1.6rem;
}

.input-email {
  margin-top: 3.2rem;
}
.input-password {
  margin-top: 1rem;
  position: relative;
}
.fa-regular {
  color: var(--text-color-gray);
  position: absolute;
  right: 4rem;
  top: 19.4rem;
}
.main__authorization-input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 175%;
  display: flex;
  align-items: center;
  color: var(--text-color-gray);
  padding-left: 1.6rem;
}
.main__authorization-button {
  width: 31.5rem;
  height: 4.4rem;
  background: #171717;
  border-radius: 1.6rem;
  margin-top: 1rem;
}
.main__authorization-text-last {
  margin: 1.6rem 0 0 10.1rem;
}
.main__left {
  position: absolute;
  margin: 6.4rem 0 0 6.4rem;
}
.section__container {
  margin: 16px 32px;
}

/* Media Screen */

@media screen and (max-width: 320px) {
  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .main__container {
    background-image: none;
    width: 32rem;
    height: 51.6rem;
  }
  .main__left {
    display: none;
  }
  .main__authorization {
    position: absolute;
    top: 15rem;
    left: 2rem;
  }
  .main__authorization-block {
    margin: 0;
    padding: 0;
  }
  input,
  .main__authorization-button {
    max-width: 27.2rem;
  }

  .main {
    margin-bottom: 20rem;
  }
}
