.wrapper {
  width: 100%;
}
.container-block {
  max-width: 1392px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin: auto;
}
.cart__container {
  max-width: 1002px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.title {
  margin-bottom: 1.6rem;
}

.cart-item__block {
  display: flex;
  justify-content: flex-start;
  margin-top: 3.6rem;
  gap: 50px;
  margin: 32px 0 0 32px;
}
.cart-item__image {
  border-radius: 16px 0px 0px 16px;
  width: 148px;
  height: 148px;
}
.cart-item__box {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
  max-width: 774px;
  height: 148px;
}
.cart-item__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.cart__size {
  display: flex;
  justify-content: space-between;
  width: 201px;
}

.cart_count {
  gap: 8px;
  width: 192px;
  height: 68px;
}
.cart-buttons {
  display: flex;
  justify-content: space-between;
  width: 192px;
}
.btn-minus {
  padding: 8px 12px;
  gap: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #d4e3ff;
  border-radius: 10px;
  background: #ffffff;
}
.btn-number {
  padding: 10px;
  gap: 10px;
  width: 64px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d4e3ff;
  border-radius: 10px;
}
.btn-plus {
  padding: 8px 12px;
  gap: 10px;
  width: 40px;
  height: 40px;
  background: #171717;
  border-radius: 10px;
  color: #ffffff;
}
.trash-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 24px;
  height: 40px;
}
.cart__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;
  width: 66px;
  height: 77px;
}
.line-through {
  text-decoration: line-through;
}
.dostupno {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  color: #fd9b08;
  text-decoration: underline;
  margin-top: 8px;
  margin-left: 54.5px;
}

/* Trash */
.cart-block__container {
  display: flex;
  flex-direction: column;
}

/* Zakaz */

.zakaz__block {
  max-width: 358px;
  height: 504px;
  background: #ffffff;
  border-radius: 16px;
}

/* Oformleniye */

.oformleniye__block {
  max-width: 612px;
  height: 790px;
  border-radius: 16px;
  padding: 32px 32px;
  background-color: #ffffff;
}
.oformleniye {
  display: flex;
  justify-content: space-between;
  max-width: 1002px;
  gap: 36px;
  margin-bottom: 3.2rem;
}
.besopasnost__block {
  gap: 36px;
  width: 358px;
  height: 722px;
  background: #ffffff;
  border-radius: 16px;
}

/* oformleniye-zakaza */
.oformleniye-zakaza {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.oformleniye-input__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 316px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #cddaf1;
  border-radius: 16px;
  margin-bottom: 10px;
}
.textarea {
  width: 316px;
  height: 172px;
}
.radio {
  width: 20px;
  height: 20px;
}
.sposop-dostavki {
  display: flex;
  justify-content: flex-start;
  margin-top: 36px;
}
.radio-input {
  display: flex;
  flex-direction: column;
}
.radio-item input {
  margin-right: 10px;
}
.sposop-dostavki h1 {
  width: 208px;
}
.radio-item {
  margin-bottom: 1.6rem;
}
.besopasnost__block {
  padding: 20px 20px;
}
.bezopasnost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 318px;
  height: 148px;
  margin-bottom: 3.4rem;
}
/* Zakaz */
.zakaz__block {
  padding: 20px 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.line {
  width: 318px;
  height: 0px;
  border: 1px solid #d4e3ff;
  margin: 2.4rem 0 2.4rem 0;
}
.aktivirovat {
  padding: 8px 20px;
  gap: 10px;
  width: 318px;
  height: 44px;
  background: #054edb;
  border-radius: 16px;
  color: #ffffff;
  margin-top: 10px;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 31.5px;
}

.black-btn {
  background: #171717;
}
.usloviya {
  margin: 20px 0 0 92px;
  color: #054edb;
}
.count-price{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199.98px) {
  .oformleniye{
    flex-wrap: wrap;
  }
}
@media (max-width: 991.98px) {
  .cart__container {
    max-width: 990px;
  }
  .cart-item__block{
    margin: 0;
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .cart-item__box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  
}
@media (max-width: 480px) {
  .cart-item__image{
    width: 106px;
    height: 106px;
  }
  .cart-item__block{
    gap: 8px;
    max-width: 320px;
    height: 320px;
  }
  .cart__container{
    max-width: 320px;
    margin: auto;

  }
  .count-price{
    margin-left: -130px;
  }
  .oformleniye__block{
    max-width: 320px;
    padding: 20px 20px;
    margin: auto;
  }
  .oformleniye-input__item {
    max-width: 280px;
  }
  .oformleniye{
    gap: 0px;
  }
  .besopasnost__block{
    gap: 0;
    margin: auto;
    max-width: 320px;
  }
  .zakaz__block{
    max-width: 320px;
    margin: auto;
  }
  .container-block{
    gap: 0px;
  }
  .aktivirovat{
    max-width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .header{
    padding: 0px;
  }
  .logo {
    display: none;
  }
  .cart-item__box{
    padding: 0;
  }
  .count-price{
    margin-left: -100px;
  }
  .bezopasnost{
    max-width: 280px;
  }
}
