.wrapper {
  max-width: 100%;
  background-color: aquamarine;
}
.academy__container {
  background: #ffffff;
  border-radius: 16px;
  padding: 38px 32px;
}

.main__container {
  background-color: rgb(153, 87, 0);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1856px;
  margin: auto;
  gap: 32px;
}
.title {
  margin-bottom: 16px;
}
.academy-product-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
}
.swipe__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 518px;
  height: 64px;
  margin-top: 22px;
  margin-left: 69px;
}
.description__left,
.description__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 366.5px;
  margin-left: 20px;
}
.description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
}
.product__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.color-box {
  width: 376px;
  
}

.main {
  display: flex;
  justify-content: space-between;
}

/* Application */
.application {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 363px;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
  padding: 24px;
}
input,
textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 315px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #cddaf1;
  border-radius: 16px;
}

.comment {
  padding: 10px;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  width: 315px;
  height: 44px;
  background: #171717;
  border-radius: 16px;
  color: #ffffff;
}
.otmena {
  margin: auto;
}
@media screen and (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .academy__container {
    padding: 8px 8px;
    margin: auto;
  }
  
}
/* 320 */
@media (max-width: 320px) {
  .header{
    display: none;
  }
  .main__container{
    max-width: 320px;
  }
  .product-img {
    width: 320px;
    height: 320px;
    border-radius: none;
  }
  .academy__container>p,.title{
    display: none;
  }
  .academy__container{
    margin: 0;
    padding: 0;
  }
  .academy-product-item{
    margin: 0;
  }
  .product__image{
    max-width: 320px;
  }
  .swipe__images{
    max-width: 320px;
    margin-left: 20px;
    overflow: hidden;
  }
  .color-box {
    flex-wrap: wrap;
  }
  
}
