.academy__container {
  max-width: 1461px;
  height: 856px;
  background: #ffffff;
  border-radius: 16px;
  padding: 38px 32px;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1856px;
  margin: auto;
}
.title {
  margin-bottom: 16px;
}
.academy-product-item {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.swipe__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 518px;
  height: 64px;
  margin-top: 22px;
  margin-left: 69px;
}
.description__left,
.description__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 366.5px;
  height: 494px;
margin-left: 20px;

}
.description {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.product__description {
  display: flex;
  flex-direction: column;
}

.color-box {
  width: 376px;
}

.main {
  display: flex;
  justify-content: space-between;
}

/* Application */
.application {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 363px;
  height: 550px;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
  padding: 24px;
}
input,
textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 315px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #cddaf1;
  border-radius: 16px;
}

.comment {
  height: 213px;
  padding: 10px;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  width: 315px;
  height: 44px;
  background: #171717;
  border-radius: 16px;
  color: #ffffff;
}
.otmena {
  margin: auto;
}
