/* Man Category */
.wrapper{
  width: 100%;
  background-color: aqua;
}
.man__container {
  max-width: 1856px;
  background-color: aquamarine;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.man__category {
  max-width:  1496px;
  padding: 32px;
  gap: 24px;
  background: #ffffff;
  border-radius: 20px;
}

/* Button */
.main-block__button {
  border: 1px solid #d4e3ff;
  height: 39px;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  color: #2b2b2b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 175%;
}
.main-block__categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Product */
#products__row {
  margin-top: 2.2rem;
  max-width: 1496px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6px;
}

.product-item-img {
  position: relative;
}
.fa-heart {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--text-color-gray);
  background-color: #eaf1ff;
}
.new-img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-item {
  padding: 0px;
  gap: 16px;
  width: 346px;
  border: 1px solid #eaf1ff;
  border-radius: 16px;
}
.product-item-img img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.product-item-description {
  padding: 0px 16px 16px;
}
.product-item-price {
  display: flex;
  width: 179px;
}
.inactive-price {
  text-decoration: line-through;
  margin-left: 3.2rem;
}
.product-item-description {
  margin-top: 1.6rem;
}
.description-paragraph,
.product-item-price {
  margin-top: 1.2rem;
}
.line {
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 2.6rem;
}
.man__category-p {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.mobile_display {
  display: none;
}
.button__sort {
  background: #ffffff;
}
/* select */


/* Media Screen */
@media screen and (max-width: 1500px){
  #products__row {
    grid-template-columns: repeat(3,1fr);
  }
  
}
@media screen and (max-width: 1200px){
  .man__container{
    max-width: 1120px;
    gap: 10px;
  }
  #products__row {
    grid-template-columns: repeat(2,1fr);
  }
  .man__category{
    max-width: 800px;
  }
  
}
@media screen and (max-width: 767px){
  .category__block-category {
    display: none;
  }
  .man__container{
    max-width: 700px;
  }
  .man__category{
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 32rem;
    background-color: #ffffff;
  }
  .header {
    display: none;
  }
  .category__block-category {
    display: none;
  }
  .man__category {
    width: 320px;
    margin: 0;
    padding: 0;
  }
  .man__category-container {
    width: 28rem;
    margin: auto;
  }
  .product-item {
    width: 136px;
    height: auto;
  }
  .product-image {
    width: 136px;
    height: 136px;
  }
  .description-title {
    font-size: 11px;
    font-weight: 500;
  }
  .description-paragraph {
    width: 120px;
    font-size: 1rem;
    font-weight: 400;
  }
  .active-price,
  .inactive-price {
    font-size: 1.1rem;
  }
  .product-item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
  }
  .line {
    height: 1rem;
    width: 0;
  }
  .mobile_display {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 20px;
    gap: 8px;
    width: 136px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #d4e3ff;
    border-radius: 10px;
    margin-top: 2rem;
  }
  .button__sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 20px 6px 12px;
    gap: 4px;
    width: 136px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #d4e3ff;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .man__category-p {
    display: flex;
    flex-wrap: wrap;
  }
  .main-block__categories {
    width: 280px;
    height: 32px;
    margin-bottom: 5rem;
    overflow-x: scroll;
  }
}
