.header {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  justify-content: flex-end;
}
.container {
  width: 100%;
  max-width: 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: 16px;
}
.header__line {
  width: 1px;
  height: 100%;
  background-color: #CDDAF1;
}
@media screen and (max-width: 320px) {
  .header {
    padding: 16px 20px;
}
.nav__list {
  display: none;
}
.instagram,.telegram,.header__line,.phone {
    display: none;
}
.nav__list li svg {
    width: 20px;
    height: 20px
}
}
