.nav {
  display: flex;
  width: 660px;
  align-items: center;
  justify-content: space-between;
  margin: 2.4rem 0 0 122.8rem;
  
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 20.4rem;
}

@media screen and (max-width: 320px) {
  
  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .nav__list-item,
  .phone,
  .log-in__icon {
    display: none;
  }
  .mobile-display-none{
    display: none;
  }
  .nav__list{
    display: none;
  }
}
