main {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.85rem;
}
.news__block {
  padding: 3.4rem 3.2rem;
  max-width: 1496px;
  background: #ffffff;
  border-radius: 1.6rem;
  margin-left: 2.4rem;
  display: flex;
  flex-wrap: wrap;
}
.news-profile-p {
  margin: 1.2rem 0 3.2rem 0;
}
.news__container {
  display: flex;
  justify-content: space-between;
}
.main-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 804px;
}
.main-news__item {
  padding: 1.6rem 0 0 1.6rem;
  display: flex;
  justify-content: space-between;
  max-width: 804px;
  min-height: 100px;
}
.main-news__item img {
  max-width: 380px;
  height: 260px;
  border-radius: 10px;
  margin-right: 1.6rem;
}
.main-news__date {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Secon news */
.secondary-news,
.third-news {
  max-width: 286px;
  height: 319px;
  margin-left: 3.2rem;
}
.secondary-img {
  max-width: 286px;
  height: 196px;
  border-radius: 12px;
  margin-bottom: 8px;
}
.secondary-date {
  margin: 8px 0 8px 0;
}
.secondary-news__item {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1200px) {
  .main-news__item {
      flex-direction: column;
  }
  .main-news__item img {
      margin-right: 0;
      margin-bottom: 1rem;
  }
  .news__container {
      flex-direction: column;
  }
  .secondary-news,
  .third-news {
      margin-top: 3.2rem;
      margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-news__item {
      align-items: center;
  }
  .main-news__item img {
      width: 100%;
      max-width: 100%;
  }
  .secondary-news__item,
  .third-news__item {
      align-items: center;
  }
  .secondary-img {
      width: 100%;
      max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .profile__block {
      display: none;
  }
  .profile__block-item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
  }
  .profile__block-item img {
      width: 30px;
      height: 30px;
  }
}
@media screen and (max-width: 320px) {
  .news-profile-p{
    margin: 0;
  }
  .profile__block-item {
    flex: 0 0 100%;
    max-width: 100%;
}
  .header,
  .profile__block,
  .main-news {
    display: none;
  }
  .news__block {
    padding: 24px 20px;
    margin-left: 0px;
    height: auto;
  }
  .news__container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
  }
  .main-news{
    max-width: 280px;
  }
  .secondary-news,.third-news{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .secondary-news,.third-news{
    height: auto;
  }
}
