
.container {
    max-width: 192rem;
    position: relative;
  }
  .nav {
    display: flex;
    width: 660px;
    justify-content: space-between;
    align-items: center;
    margin-left: 122.8rem;
    margin-top: 2.4rem;
  }
  
  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 20.4rem;
  }
  a {
    text-decoration: none;
  }
  
  /* Main */
  .main__container {
    background-image: url(../images/image\ 2.png);
    width: 185.6rem;
    height: 87.3rem;
    border-radius: 2.4rem;
    margin: 1.6rem 0 0 3.2rem;
  }
  
  .main__authorization {
    width: 36.3rem;
    height: 33.4rem;
    background: #ffffff;
    border-radius: 16px;
    position: absolute;
    left: 129.3rem;
    top: 34.7rem;
  }
  .main__authorization-block {
    margin: 2.4rem 0 0 2.4rem;
  }
  .main__authorization-text {
    margin-top: 1rem;
  }
  input {
    width: 31.6rem;
    height: 4.4rem;
    background: #ffffff;
    border: 1px solid #cddaf1;
    border-radius: 1.6rem;
  }
  
  .input-email {
    margin-top: 3.2rem;
  }
  .input-password {
    margin-top: 1rem;
    position: relative;
  }
  .fa-regular {
    color: var(--text-color-gray);
    position: absolute;
    right: 4rem;
    top: 19.4rem;
  }
  .main__authorization-input::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    display: flex;
    align-items: center;
    color: var(--text-color-gray);
    padding-left: 1.6rem;
  }
  .main__authorization-button {
    width: 31.5rem;
    height: 4.4rem;
    background: #171717;
    border-radius: 1.6rem;
    margin-top: 1rem;
  }
  .main__reset-text-last {
    margin: 1.6rem 0 0 13.1rem;
  }
  .main__left {
    position: absolute;
    margin: 6.4rem 0 0 6.4rem;
  }
  
  /* Section */
  .section__container {
    max-width: 185.6rem;
    margin-left: 3.2rem;
    margin-top: 2.4rem;
    background-color: var(--text-color-white);
    margin-bottom: 10rem;
  }
  .categories-block {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .fa-magnifying-glass{
    position: absolute;
    top: 4rem;
    left: 29rem;
  }
  
  .categories-block__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99.4rem;
  }
  
  .categories-block__input {
    border: 1px solid #d4e3ff;
    margin: 1.5rem 0 0 1.6rem;
  }
  .categories-block__icons {
    display: flex;
    justify-content: flex-end;
    width: 32rem;
    align-items: center;
    
  }
  .first {
      margin-left: 20rem;
  }
  .categories-block__icons img{
      margin-right: 4rem;
  }
  
  .categories-block__first-part,
  .categories-block__second-part {
    display: flex;
    justify-content: space-between;
  }
  .categories-block__text-item{
      margin-left: 2.4rem;
  }
  .burger__menu {
  display: none;
  }

  .main__reset-text
  {
    width: 31.5rem;
    margin-top: 0.8rem;
  }
  
  
  /* Media Screen */
  
  @media screen and (max-width: 320px) {
    .container {
      width: 32rem;
      position: relative;
    }
    
    .nav__list-item,.phone,.log-in__icon{
      display: none;
    }
    .logo {
      position: absolute;
      top: 1rem;
      left: 2rem;
    }
    .main__container {
      background-image: none;
      width: 32rem;
  height: 51.6rem;
     
    }
    .main__left{
      display: none;
    }
    .main__authorization{
      position: absolute;
      top: 15rem;
      left: 2rem;
    }
    .main__authorization-block{
      margin: 0;
      padding: 0;
    }
    input,.main__authorization-button{
      width: 27.2rem;
    }
    .fa-regular{
      position: absolute;
      left: 23rem;
      top: 17rem;
    }
    .section__container{
      width: 28.4rem;
      position: relative;
  
    }
    .categories-block__text-item,.categories-block__input{
      display: none;
    }
    .search__img{
      
      position: absolute;
      top: 1.2rem;
      left: 12rem;
     
  
    }
    .search__img img{
      width: 1.8rem;
      height: 2.3rem;
    }
    .categories-block__icons-item{
      width: 2rem;
      height: 2rem;
    }
    .shopping-cart__icon{
      position: absolute;
      top: 1.5rem;
      right: 4rem;
    }
    .burger__menu{
      display: block;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 2.1rem;
      left: -1rem;
    }
    .heart__icon{
      position: absolute;
      top: 1.5rem;
      left: 5rem;
    }
    .fa-magnifying-glass{
      top: 2.4rem;
      left: 24rem;
    }
    .main{
        margin-bottom: 20rem;
    }

    .main__reset-text-last {
        margin: 1.6rem 0 0 11.1rem;
      }
    
    
    
  }