/* Section */
.section__container {
  
    max-width: 185.6rem;
    margin-left: 3.2rem;
    margin-top: 2.4rem;
    margin-bottom: 1.9rem;
    background: #ffffff;
    box-shadow: 0px -10px 38px -4px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    padding: 12px 16px;
    gap: 94px;
  }
  input {
    width: 31.6rem;
    height: 4.4rem;
    background: #ffffff;
    border: 1px solid #cddaf1;
    border-radius: 1.6rem;
  }
  .categories-block {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .fa-magnifying-glass {
    position: absolute;
    top: 4rem;
    left: 29rem;
  }
  
  .categories-block__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99.4rem;
  }
  
  .categories-block__input {
    border: 1px solid #d4e3ff;
    margin: 1.5rem 0 0 1.6rem;
  }
  .categories-block__icons {
    display: flex;
    justify-content: flex-end;
    width: 32rem;
    align-items: center;
  }
  .first {
    margin-left: 20rem;
  }
  .categories-block__icons img {
    margin-right: 4rem;
  }
  
  .categories-block__first-part,
  .categories-block__second-part {
    display: flex;
    justify-content: space-between;
  }
  .categories-block__text-item {
    margin-left: 2.4rem;
  }
  .burger__menu {
    display: none;
  }
  
  .main__reset-text {
    width: 31.5rem;
    margin-top: 0.8rem;
  }


  @media screen and (max-width: 320px){
    
    input,
  .main__authorization-button {
    width: 27.2rem;
  }
  .fa-regular {
    position: absolute;
    left: 23rem;
    top: 17rem;
  }
  .section__container {
    width: 28.4rem;
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
  .categories-block__text-item,
  .categories-block__input {
    display: none;
  }
  .search__img {
    position: absolute;
    top: 1.2rem;
    left: 12rem;
  }
  .search__img img {
    width: 1.8rem;
    height: 2.3rem;
  }
  .categories-block__icons-item {
    width: 2rem;
    height: 2rem;
  }
  .shopping-cart__icon {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
  }
  .burger__menu {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.1rem;
    left: -1rem;
  }
  .heart__icon {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
  }
  .fa-magnifying-glass {
    top: 2.4rem;
    left: 24rem;
  }
  .log-in__icon{
    display: none;
  }
  /* Reset */
  .main__reset-text {
    width: 27.2rem;
  }
  }