main {
  display: flex;
  justify-content: flex-start;
  width: 1856px;
  margin: 18px 0 32px 0px;
}
.support-block {
  padding: 32px;
  width: 1496px;
  background: #ffffff;
  border-radius: 20px;
  margin-left: 24px;
}
.support-profile {
  margin: 12px 0 32px;
}
.support-condts h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
}
.support-condts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 186px;
  height: 20px;
  background-color: #ffffff;
}
.support-condts__item {
  margin-top: 16px;
}
/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 1432px;
  display: none;
  min-width: 160px;
  position: static;
  margin-top: 16px;
  margin-bottom: 16px;
}
.show {
  display: block;
}
.section__container {
  display: none;
}

@media screen and (max-width: 320px) {
  .header {
    display: none;
  }
  main {
    width: 320px;
  }
  .profile__block {
    display: none;
  }
  .support-block {
    padding: 0;
  }
  .dropdown-content {
    gap: 16px;

    width: 280px;
  }
  .section__container {
    display: block;
  }
  .burger__menu{
    display: inline-block;
  }
  .section__container{
    position: absolute;
    top: 1000px;
    left: 0;
  }
}
